body{
    display:flex;
    justify-content: center;
    font-size: 50px;
}

#frame{
    display:inline-grid;
    width: 10em;
    height: 11em;
    background-color:black;
    grid-template-rows: repeat(11, 1em);
    grid-template-columns: repeat(10, 1em);
    grid-template-areas:    '. . . . . . . . . .'
                            '. logo logo logo logo logo logo logo logo .'
                            '. display display display display display display display display .'
                            '. . . . . . . . . .'
                            '. . . . . . . . . .'
                            '. buttons buttons buttons buttons buttons buttons buttons buttons .'
                            '. buttons buttons buttons buttons buttons buttons buttons buttons .'
                            '. buttons buttons buttons buttons buttons buttons buttons buttons .'
                            '. buttons buttons buttons buttons buttons buttons buttons buttons .'
                            '. buttons buttons buttons buttons buttons buttons buttons buttons .'
                            '. . . . . . . . . .';
}

#logo{
    display: flex;
    grid-area: logo;
    background-color: lightgoldenrodyellow;
    align-items: center;
}

h5{
    display: inline;
    font-size: 20px;
    margin: 0;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

#display{
    grid-area: display;
    background-color: lightyellow;
    max-width: 400px;
    max-height: 50px;
}

p{
    max-height:  inherit;
    display: flex;
    box-sizing: border-box;
    justify-self: left;
    height: 50px;
    width: fit-content;
    /* padding: 10px; */
    padding: 10px 25px 10px 25px;
    align-items: center;
    max-width: inherit;
    overflow: hidden;
    font-size: 0.8em;
}

#buttons{
    grid-area: buttons;
    display: inline-grid;
    grid-template-columns: [numbersStart] 6em [numbersEnd operatorsStart] 2em [operatorsEnd];
    grid-template-rows: [buttonsStart] 5em [buttonsEnd];
}

#numbers{
    display:inline-grid;
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(5, 1em);
}

#operators{
    display:inline-grid;
    grid-template-columns: 2em;
    grid-template-rows: repeat(5, 1em);
}
    
button{
    border-width: 4px;
}