html, body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    height: 100%;
    width: 100%;
    background-image: url('./Pics/abstract-low-poly');
}

#frame{
    display:inline-grid;
    background-color: #441013;
    border: 5px outset #972622;
    grid-template-rows: [displayStart] 0.67em [displayEnd logoStart] 0.33em [logoEnd buttonStart] repeat(5, 1em) [buttonEnd];
    grid-template-columns: repeat(4, 1em);
    grid-template-areas:    'display display display display'
                            'logo logo logo logo'
                            'buttons buttons buttons buttons'
                            'buttons buttons buttons buttons'
                            'buttons buttons buttons buttons'
                            'buttons buttons buttons buttons'
                            'buttons buttons buttons buttons';
}

#display{
    display: flex;
    grid-area: logo;
    font-size: 35px;
    align-items: center;
    background-color: #0f0913;
}

#logo{
    display: flex;
    grid-area: logo;
    width: 300px;
    height: 25px;
    justify-content: center;
    color: #0368a8;
    font-size: 25px;
    font-family: 'Megrim', cursive;
}

p{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    width: 300px;
    height: fit-content;
    max-width: inherit;
    max-height:  inherit;
    padding: 0 10px 0 10px;
    color: #d73934;
    font-family: 'Megrim', cursive;
}

#buttons{
    grid-area: buttons;
    display: inline-grid;
    grid-template-columns: [numbersStart] 3em [numbersEnd operatorsStart] 1em [operatorsEnd];
    grid-template-rows: [buttonsStart] 5em [buttonsEnd];
}

button{
    background-color: #151121;
    color: #d53934;
    padding: 0;
    font-family: 'Megrim', cursive;
    font-size: 26px;
    border: 1px solid #03040f;
}

#numbers{
    display:inline-grid;
    grid-template-columns: repeat(3, 1em);
    grid-template-rows: repeat(5, 1em);
}

#operators{
    display:inline-grid;
    grid-template-columns: 1em;
    grid-template-rows: repeat(5, 1em);
}